{% extends 'layout.html' %}

{% block content %}

    <form class="form-horizontal" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-4">
                {{ form.username.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.username }}
                {% if form.username.errors %}
                    {{ form.username.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-4">
                {{ form.password1.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.password1 }}
                {% if form.password1.errors %}
                    {{ form.password1.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-4">
                {{ form.password2.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.password2 }}
                {% if form.password2.errors %}
                    {{ form.password2.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-4">
                {{ form.email.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.email }}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
            </div>
        </div>

    </form>
{% endblock %}