{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bb2</title>

    <link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.js' %}"></script>

</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <a href="{% url 'core:main_page' %}" class="btn btn-success">Главная</a>
                    {% if user.is_authenticated %}
                        Пользователь: {{ user.username }}
                    {% else %}
{#                        <a href="{% url 'core:login_user' %}" class="btn btn-success">Войти</a>#}
                        <a href="{% url 'core:login_user' %}" class="btn btn-primary">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>
</body>
</html>