{% extends 'layout.html' %}

{% block content %}

    <form class="form-horizontal" method="post" novalidate="novalidate">
        {% csrf_token %}

        <div class="form-group">
            <div class="col-lg-1 col-md-1 col-sm-2">
                {{ login_form.username.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ login_form.username }}
                {% if login_form.username.errors %}
                    {{ login_form.username.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-1 col-md-1 col-sm-2">
                {{ login_form.password.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ login_form.password }}
                {% if login_form.password.errors %}
                    {{ login_form.password.errors }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <button type="submit" class="btn btn-primary">OK</button>
                <a href="{% url 'core:main_page' %}" class="btn btn-default">
                    <span>Выход</span>
                </a>
            </div>
        </div>

    </form>

{% endblock %}