{% extends 'layout.html' %}

{% block content %}

    <h3 class="text-danger">Главная страница</h3>

    <form class="form-horizontal" method="post" novalidate="novalidate">
        {% csrf_token %}
{##}
{#        <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#                <button type="submit" class="btn btn-primary">Зарегистрировать</button>#}
{#            </div>#}
{#        </div>#}
    </form>

{% endblock %}